@use "@/styles/_variables.scss" as v;
.container {
  border-radius: 10px;
  border: 1px solid v.$border;
  background: v.$bg;
}

.menu {
  @include flex-arrange(null, center);
  padding: 7px 10px;
  gap: 10;
  list-style: none;
  color: v.$text-secondary;
  cursor: pointer;
  &:hover {
    color: v.$text-primary;
    background: v.$divider;
  }
}

.icon {
  padding-top: 5px;
  font-size: 1.8rem;
}
