@use "@/styles/_variables.scss" as v;

.container {
  font-weight: 600;
  color: v.$logo;
  letter-spacing: 0.2px;
  line-height: 1.1;
  /* 기본 크기. 컴포넌트 props의 inline style로 덮어쓸 수 있음 */
  font-size: 1.8rem;
}
