@use "@/styles/_variables.scss" as v;

.container {
  display: flex;
  align-items: center;
  height: 70px;
  padding: 0 20px;
  border-bottom: 1px solid v.$divider;
  justify-content: space-between;
}

.brand {
  display: flex;
  align-items: center;
  gap: 20px;
  margin-left: auto;
}

.moreIcon {
  color: v.$text-primary;
  font-size: 2.8rem;
  cursor: pointer;
}

@media (min-width: 1024px) {
  .moreIcon {
    display: none;
  }
}
