@use "@/styles/_variables.scss" as v;

$sidebar-width: 280px;

.container {
  background: v.$bg;
  color: v.$text-primary;
  min-height: 100dvh;
  position: relative;
}

.main {
  margin-right: auto;
  margin-left: auto;
  max-width: 1200px;
  padding: 20px 16px 100px 16px;
}

@media (min-width: 1024px) {
  .container {
    padding-left: $sidebar-width; // 패딩으로 레이아웃 확보
  }
}
