@use "@/styles/_variables.scss" as v;

.container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 80px 20px 20px 20px;
}

.topSection {
  border-bottom: 1px solid #d9d9d9;
  padding: 10px 0 20px 0;
}

@media (min-width: 768px) {
  .container {
    padding: 20px;
  }
}
