@use "@/styles/_variables.scss" as v;

.container {
  width: 100%;
  height: 100%;
  background: v.$bg;
  color: v.$text-primary;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 30px 20px;
}

.logo {
  font-weight: 800;
  color: v.$logo;
  margin-bottom: 8px;
  padding: 0 8px;
  font-size: 1.8rem;
}

.nav {
  display: block;
}

.menu {
  list-style: none;
  display: grid;
  gap: 4px;
  padding: 0;
  margin: 0;
}

.item {
  margin: 0;
}

.link {
  display: block;
  color: v.$text-secondary;
  text-decoration: none;
  padding: 10px 12px;
  border-radius: 10px;
  transition: background 0.2s ease, color 0.2s ease;
}
.link:hover {
  background: v.$divider;
  color: v.$text-primary;
}

@media (min-width: 768px) {
  .container {
    background: v.$sidebarBg;
    padding: 20px;
  }
}
// background: v.$sidebarBg;
